.flex.center
  .Container
    .PostDetailPage
      %header.PostHeader
        = image_tag @post.image, class: "PostHeader" if @post.image.present?
        .PostHeaderBack
          =link_to '/' do
            = icon('fas', 'arrow-left', class: "arrow")
      .PostInfo
        .flex.verticalCenter.PostDetailTitleWithAudio
          %h2.PostDetailTitle
            = @post.title
        %span.PublishedAt
          = @post.created_at.strftime("%Y-%m-%d")
      .PostDetail
        .PostDetailBody
          = simple_format(@post.text)
      .Player.flex.spaceBetween.wrap
        %h2.PlayerTitle
          = @post.title
          = audio_tag(@post.audio, id: 'play-audio', controls: true)

      %nav.BottomNav_BottomNav__2Vey4
        %ul.BottomNav_NavItems___s-90
          .BottomNav_NavItem__tgPfn
            =link_to "/" do
              = icon('fas', 'home', class: "icon")
              %p.BottomNav_title_active__1SVTZ ホーム
          .BottomNav_NavItem__tgPfn
            - if user_signed_in?
              - if current_user.admin?
                =link_to edit_post_path(@post.id) do
                  = icon('fas', 'edit', class: "icon")
                  %p.BottomNav_title_active__1SVTZ 編集
              - else
                =link_to "/" do
                  = icon('far', 'comments', class: "icon")
                  %p.BottomNav_title_active__1SVTZ コメント
            - else
              =link_to new_user_registration_path do
                = icon('fas', 'user-plus', class: "icon")
                %p.BottomNav_title_active__1SVTZ 新規登録
          .BottomNav_NavItem__tgPfn
            - if user_signed_in?
              =link_to destroy_user_session_path, method: :delete do
                = icon('fas', 'sign-out-alt', class: "icon")
                %p.BottomNav_title_active__1SVTZ ログアウト
            - else
              =link_to new_user_session_path do
                = icon('fas', 'sign-in-alt', class: "icon")
                %p.BottomNav_title_active__1SVTZ ログイン